* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100vh;
    background-image: url(./img/app/background_ball.jpg);
    background-size: cover;
    background-position: 44% 50%;
    background-attachment: fixed;
}

#card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    transition: all 225ms ease-in-out;
}

header {
    padding: 5px 10px 5px 5px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right {
    flex-grow: 1;
}

.logo {
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.logo-text {
    margin: 0;
    display: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.1em;
}

.header-searchbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchbar__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 3px 16px;
    width: 100%;
    height: 35px;
}

.searchbar {
    border: none;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    color: rgb(142, 142, 142);
    outline: none;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.search-icon {
    width: 20px;
    object-fit: cover;
    filter: invert(0.3);
    transform: scaleX(-1);
    margin-right: 5px;
}


/* reusable components */

.card {
    background-color: rgb(121, 121, 121);
    width: 100%;
    height: 155px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.007);
    transition: all 225ms ease-in-out;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.card-id {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    z-index: 3;

}

.card-image {
    height: 95%;
    object-fit: cover;
    position: absolute;
    right: 5px;
    z-index: 2;
}

.card-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.card-name::first-letter {
    text-transform: capitalize;
}

.card-type {
    margin: 0 0 5px 0;
    color: white;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 2px 4px 2px 4px;
    width: 70px;
    text-align: center;
}

.ball_background {
    width: 150px;
    object-fit: cover;
    opacity: 0.1;
    position: absolute;
    bottom: -24px;
    right: 0px;
}

.d-none {
    display: none !important;
}

.no-overflow {
    overflow: hidden;
}

#loading-more {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    gap: 10px;
}

.loader {
    width: 40px;
    height: 40px;
    border: 8px solid grey;
    border-radius: 100%;
    border-bottom: 8px solid rgb(178, 23, 28);
    animation: spin linear 2s infinite;
}

@keyframes spin {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

.detail-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 200;
}

.detailPopup {
    width: 100%;
    height: 100%;
}

.detail-top {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-bottom {
    background-color: white;
    height: 60%;
    width: 100%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.detail-image {
    width: 270px;
    object-fit: contain;
    transform: translateY(28%);
}


/* responsive section */

@media(min-width:590px) {
    .card {
        width: 280px;
    }

    header {
        padding: 5px 40px 5px 35px;
    }
}

@media(min-width:650px) {
    .logo-text {
        display: inline;
    }

    .searchbar__box {
        width: 45vw;
    }
}

@media(min-width:900px) {
    header {
        padding: 5px 45px 5px 40px;
    }
}

@media(min-width:1100px) {
    header {
        padding: 5px 60px 5px 65px;
    }

    #card-content {
        padding: 20px 10px 10px 10px;
    }
}

@media(min-width:1400px) {
    header {
        padding: 5px 80px 5px 95px;
    }
}